<template>
  <div class="header">
    <span @click="myToggle">
      <el-icon-expand v-if="collapse"></el-icon-expand>
      <el-icon-fold v-else></el-icon-fold>
    </span>
  </div>

</template>

<script lang="ts" setup>
import {ref} from 'vue'
let collapse = ref(false)
// let myToggle = ()=>{
//   collapse.value = !collapse.value
// }
let props = defineProps<{collapse:boolean}>()
let emits = defineEmits(['update:collapse'])
let myToggle = () =>{
  emits('update:collapse', !props.collapse)
}

</script>

<style scoped>
.header{
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
</style>
